.barcodeContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

canvas {
    width: 300px;
    height: 175px;
}

input, select, button, text {
    margin: 8px 0px;
    height: 30px;
}

.error {
    color: red;
}
